.catalogue {
  position: relative;
  background-color: #000000;
  min-height: 100vh;
  overflow: hidden;
}

.catalogueContainer {
  display: flex;
  height: auto; 
  background-color: #000000;
  position: relative;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: 200px;
}

.catalogueProducts {
  flex-grow: 1;
  padding: 20px;
}

.viewToggle {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
  margin: 20px;
}

.viewToggle button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 10px;
  font-size: 1rem;
  background-color: #333;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.viewToggle button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.viewToggle button svg {
  fill: #ffffff;
}

.viewToggle button:hover svg {
  fill: #000000;
}

.viewToggle button::after {
  background-color: #ffffff !important;
}

.productsList {
  display: grid;
  gap: 30px;
  width: 80%;
  height: auto;
  padding-bottom: 100px;
  margin-left: 10%;
}

.productsList.grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.productsList.list {
  grid-template-columns: 1fr;
}

/* Product Item */
.productItem {
  background-color: #111;
  border-bottom: 1px solid #333;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.productItem:hover {
  background-color: #222;
}

.productItem img {
  border: 1px solid #333;
}

.productItem.list {
  flex-direction: row;
  align-items: center;
}

.productItem.list img {
  width: 35%;
  height: 90%;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-right: 20px;
  margin-top: 30px;
  border-radius: 5px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  height: 90%;
  padding: 0px 20px;
  margin-top: 20px;
  width: 100%;
}

.productHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

.productHeader img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.productTitle {
  font-size: 1.5rem;
  font-weight: 300;
  color: #e40000;
}

.productDescriptionList {
  color: #cccccc;
  margin: 10px 0;
  padding-left: 20px;
  list-style-type: disc;
}

.productDescriptionList li {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.productPrice {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}

.productFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Product Item */
.productItem {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #afafaf;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.productItem img {
  width: 100%;
  height: 100%; /* Set a fixed height */
  object-fit: cover;
  border: 1px solid #fdfdfd;
}

.productItem.list {
  flex-direction: row;
  align-items: center;
}

.productItem.list img {
  width: 25%;
  height: auto; /* Adjust height to maintain aspect ratio */
  display: flex;
  justify-self: center;
  align-self: center;
  margin-right: 20px;
  margin-top: 0;
  border-radius: 5px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  height: 100%;
  padding: 0px 20px;
  margin-top: 0;
  max-width: 70%;
}

/* Estilos para botón Ver Más */
.verMasBtn {
  background-color: #e40000;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.verMasBtn:hover {
  background-color: #ff1a1a;
}

/* Estilos para Modal */
.productModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 110vh;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: hidden; /* sto mantiene la barra de desplazamiento vertical si es necesario */
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px;
  color: #ffffff;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.modalHeader h2 {
  color: #e40000;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
}

.closeModalBtn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}

.modalContent {
  display: flex;
  gap: 30px;
}

.modalLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modalLeft img {
  width: 100%;
  border: 1px solid #444;
  border-radius: 4px;
  margin-top: 14vh;
}

.modalPrice {
  font-weight: bold;
  font-size: 0.8rem;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  background-color: #111;
  border-radius: 4px;
}

.modalRight {
  flex: 2;
}

.modalRight h3 {
  color: #e40000;
  margin-top: 0;
  margin-bottom: 15px;
}

.modalDescriptionList {
  padding-left: 20px;
  margin-bottom: 25px;
}

.modalDescriptionList li {
  margin-bottom: 8px;
  line-height: 1.4;
}

.modalExtraInfo {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #333;
}

.modalExtraInfo p {
  line-height: 1.5;
  white-space: pre-line;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.contactBtn {
  background-color: #e40000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.closeBtn {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.contactBtn:hover {
  background-color: #ff1a1a;
}

.closeBtn:hover {
  background-color: #444;
}

/* Ajustes responsivos para el modal */
@media (max-width: 768px) {
  .modalContent {
    flex-direction: column;
  }
  
  .productModal {
    width: 95%;
  }
}
