.catalogue {
  position: relative;
  background-color: #000000;
  min-height: 100vh;
  overflow: hidden;
}

.catalogue-container {
  display: flex;
  height: auto;
  background-color: #000000;
  position: relative;
  z-index: 1;
  margin-bottom: 200px;
}

.catalogue-filters {
  width: 40vw;
  padding: 0px;
  position: relative; /* Ensure relative positioning */
  min-height: 100vh; /* Ensure full height */
}

.catalogue-filters h2 {
  font-size: 8rem;
  margin-bottom: 90px; /* Increased margin-bottom to 80px */
  color: #ffffff;
  white-space: nowrap;
  position: absolute;
  top: 20px;  /* Position below NavBar */
  left: 20px;
  z-index: 1;
}

.filters-container {
  padding-top: 150px; /* Increased padding-top to 150px */
  position: relative; /* Needed for correct positioning */
  z-index: 2; /* Ensure it's above the title */
}

.filters {
  width: 100%;
  padding: 10px;
  transition: width 0.5s ease;
}

.filters label {
  margin: 10px 0px;
  margin-right: 10px;
  color: #ffffff;
}

.filters-button {
  padding: 0px 20px;
  font-size: 2rem;
  font-weight: bold !important;
  color: #000000 !important;
  background-color: #ff0000;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.filters-button::after {
  background-color: #ffffff !important;
}

.filters-button p {
  font-size: 1rem;
}

.filters-button:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff !important;
  color: #707070 !important;
  transition-delay: 0.3s;
}

.catalogue-products {
  flex-grow: 1;
  padding: 20px;
}

.view-toggle {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
  margin: 20px;
}

.view-toggle button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 10px;
  font-size: 1rem;
  background-color: #333;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.view-toggle button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.view-toggle button svg {
  fill: #ffffff;
}

.view-toggle button:hover svg {
  fill: #000000;
}

.view-toggle button::after {
  background-color: #ffffff !important;
}

/* Products List */
.products-list {
  display: grid;
  gap: 30px;
  width: 80%;
  height: auto;
  padding-bottom: 100px;
  margin-left: 10%; /* Empuja hacia la derecha */
}


.products-list.grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.products-list.list {
  grid-template-columns: 1fr;
}

/* Product Item */
.product-item {
  background-color: #111;
  border-bottom: 1px solid #333;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.product-item:hover {
  background-color: #222;
}

.product-item img {
  border: 1px solid #333;
}

.product-item.list {
  flex-direction: row;
  align-items: center;
}

.product-item.list img {
  width: 25%;
  height: 80%;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-right: 20px;
  margin-top: 30px;
  border-radius: 5px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  height: 90%;
  padding: 0px 20px;
  margin-top: 20px;
  max-width: 70%;
}

.product-title {
  font-size: 1.5rem;
  font-weight: 300;
  color: #e40000;
}

.product-description {
  font-size: 1.1rem;
  color: #cccccc;
  margin: 10px 0;
}

.product-price {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
}

/* Product Item */
.product-item {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #afafaf;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.product-item img {
  width: 100%;
  height: 100%; /* Set a fixed height */
  object-fit: cover;
  border: 1px solid #fdfdfd;
}

.product-item.list {
  flex-direction: row;
  align-items: center;
}

.product-item.list img {
  width: 25%;
  height: auto; /* Adjust height to maintain aspect ratio */
  display: flex;
  justify-self: center;
  align-self: center;
  margin-right: 20px;
  margin-top: 0;
  border-radius: 5px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  height: 100%;
  padding: 0px 20px;
  margin-top: 0;
  max-width: 70%;
}
