/* Font is loaded in index.html to prevent FOUT */

body {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}

.interact {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 50px 0px;
}

.interact-item {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color .5s ease-in-out;
  font-family: 'Anton', sans-serif;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  z-index: 1;
}

.interact-item:hover {
  filter: brightness(0.7);
  background-color: #EE2737;
}

.industrias-container {
  height: 100%;
  width: 40%;
  margin-top: 10vh;
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  text-align: start;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  color: #666;
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -1px;
  position: relative;
  z-index: 1000;
}


.industrias-container div:hover h2 {
  color: white;
}

.industrias-container div:hover .modal-description {
  color: white;
  transition: color 0.3s ease-in-out;
}

.images {
  opacity: 0;
}

.mallas-container {
  font-family: 'Anton', sans-serif;
  font-weight: 300;
  height: 100%;
  width: 40%;
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  text-align: start;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -1px;
}

.mallas-container div:hover h2 {
  color: white;
}

.mallas-container div:hover .modal-description {
  color: white;
  transition: color 0.3s ease-in-out;
}

.modal-description {
  font-weight: 300;
  font-size: 1.25rem;
  color: #666;
  line-height: 1;
}

.modal-entry {
  margin: 0px 0px;
  font-weight: 300;
  font-size: 1.5rem;
  color: #666;
  line-height: 1;
}
